.color-icon{
     width: 20px;
     height: 20px;
     margin:3px;
     float:left;
     position: relative;
     border: 1px solid white;
}
.color-icon:hover{
    box-shadow: 1px 1px 1px 1px rgb(0,0,0,0.4);
    cursor: pointer;
}
#top-page{
    background-color: rgba(10, 107, 253, 0.863);
    border-radius: 10px 10px 0px 0px;
    padding-top: 5px;
    height: 25px;
    width:800px;
}
#top-page span{
    font-family: monospace;
    padding: 10px 0 0 5px;
    color: white;
    display:inline;
}
.tool-icon{
    cursor: pointer;
}

#top-page > span:nth-child(2){
    margin-left: 575px;
}

#top-page > span:nth-child(2):hover{
    margin-left: 575px;
    cursor: pointer;
}


#color-grid{

    padding: 10px;
    width:600px;
}

#header{
    background-color: lightgrey;
    width: 800px;
    display: flex;
    justify-content: space-between;
    height:40px;
    align-items: center;
}

.selected-color{
    position: relative;
    left: -175px;
}